@model LocalWise.Models.Turista

@{
    ViewBag.Title = "Turista";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Dashboard.css")
@Styles.Render("~/Content/bootstrap.css")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div id="menu" class="menu effect">
        <div class="col-12 text-center">
            @if (User.Identity.Name.Split('|')[2] != null)
            {
                <a href="~/Turista/Create" style="text-decoration:none">
                    <img src="~/Upload/@User.Identity.Name.Split('|')[2]?@DateTime.Now.ToString("yyyyMMddHHmmss")" style="max-width:200px;" class="rounded-circle mt-3 mb-3" />
                </a>
            }
            else
            {
                <a href="~/Turista/Create" style="text-decoration:none">
                    <img src="~/img/user-icon.png" style="max-width:200px;" class="rounded-circle mt-3 mb-3" />
                </a>
            }
        </div>

        <div class="row">
            <div class="col-12 text-center mb-5">

                <h3>@User.Identity.Name.Split('|')[1]</h3>

            </div>
        </div>
        <!--AVALIAÇÕES-->
        <div class="col-12 row avaliacao">
            <div class="col-10">
                <a href="javascript:void(0)" onclick="Avaliar(1)">
                    <img src="../../img/avaliacao/star0.png" id="s1" class="star">
                </a>

                <a href="javascript:void(0)" onclick="Avaliar(2)">
                    <img src="../../img/avaliacao/star0.png" id="s2" class="star">
                </a>

                <a href="javascript:void(0)" onclick="Avaliar(3)">
                    <img src="../../img/avaliacao/star0.png" id="s3" class="star">
                </a>

                <a href="javascript:void(0)" onclick="Avaliar(4)">
                    <img src="../../img/avaliacao/star0.png" id="s4" class="star">
                </a>

                <a href="javascript:void(0)" onclick="Avaliar(5)">
                    <img src="../../img/avaliacao/star0.png" id="s5" class="star">
                </a>
            </div>
            <div class="col-2 mt-1">
                <p id="rating">0</p>
            </div>
        </div>
        <ul>
            <li><a href="#">Passeios</a></li>
            <li><a href="~/Turista/Sair">Sair</a></li>
        </ul>
    </div>
</body>

