
@{
    ViewBag.Title = "Analise";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Style.css")
@Styles.Render("~/Content/bootstrap.css")

<nav class="navbar">
    <div id="title">
        <a href="../Home/Index"><img src="../../img/logo/logo-escrita3.png" alt="Alternate Text" class="logoImg mt-2" /></a>
    </div>
</nav>

<div class="col-md-12" style="text-align:center; margin-top:200px;">
    <img src="../../img/gifs/gif.gif" alt="Alternate Text" style="width:400px; height:300px;" />
    <p style="font-family: Arial, sans-serif; font-weight:bold; font-size:25px; margin-top:-50px;">Seu cadastro foi enviado para análise, em breve entraremos em contato ;)</p>
</div>